html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
}

* {
  box-sizing: border-box;
}

button,
input,
button:active,
input:active,
button:focus
input:focus{
  outline: none;
}